@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&display=swap');


:root {
    --tex1: Playwrite AU SA;
    --tex2: Lato;
    --tex3: Open Sans;
    --cor1: #092327;
    --cor2: #0b5351;
    --cor3: #00a9a5;
    --cor4: #4e8098;
    --cor5: #90c2e7;
}

body {
    /* background: url(../img/fundo3.jpg);
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 600px; */
    background-image: linear-gradient(250deg, var(--cor2), var(--cor4));
}

#eco {
    color: white;
    font-family: var(--tex1);
    font-size: 1.3em;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 430px;
    text-align: center;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 12px;
    padding: 10px 20px;
    background: transparent;
    backdrop-filter: blur(6px);
    box-shadow: 5px 5px 10px 0px rgb(0, 0, 0, 0, 5);
}

.wrapper>h2 {
    font-size: 33px;
    color: #fffefe;
}

.input-field {
    position: relative;
}

.input-field input[type="email"],
.input-field input[type="password"] {
    border-radius: 10px;
    background: transparent;
    margin: 15px;
    border: solid 2px rgb(255, 255, 255);
    width: 280px;
    height: 2px;
    padding: 20px 40px 20px 20px;
    backdrop-filter: blur(15px);
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: rgb(255, 255, 255);
}

input::placeholder {
    color: rgb(255, 255, 255);
}

.input-field input[type="email"]:focus::placeholder,
.input-field input[type="password"]:focus::placeholder {
    transform: translateY(-100%);
    transition: transform 0.2s ease-in-out;
    font-size: 14px;
}

.input-field input[type="email"]not(:focus)::placeholder,
.input-field input[type="password"]not(:focus)::placeholder {
    transform: translateY(0%);
    transition: transform 0.2s, ease-in-out;
    font-size: 16px;
}

a.forgot {
    text-decoration: none;
    position: relative;
    color: white;
}

a.forget:hover {
    text-decoration: underline;
    color: #fffffffd;
}

a.sign-up {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.712);
}

a.sign-up:hover {
    text-decoration: underline;
    color: #fffffffd;
}

.wrapper .login {
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 45px;
    width: 200px;
    height: 30px;
    padding: 8px 80px;
    text-decoration: none;
}

.wrapper .login:hover {
    text-decoration: underline;
}