@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&display=swap');

:root {
    --tex1: Playwrite AU SA;
    --tex2: Lato;
    --tex3: Open Sans;
    --cor1: #092327;
    --cor2: #0b5351;
    --cor3: #00a9a5;
    --cor4: #4e8098;
    --cor5: #90c2e7;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--tex3);
}

header {
    display: flex;
    background-color: aliceblue;
}

.logo {
    width: 15%;
    padding: 20px 50px;
    font-family: var(--tex1);
    text-align: right;
    font-size: 1.5em;
    color: var(--cor1);
}

nav {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>a {
    text-decoration: none;
    font-family: var(--tex2);
    font-size: 1.5em;
    display: inline-block;
    width: 20%;
    text-align: center;
    color: #4e8098;
}

nav>a:hover {
    text-decoration: overline;
    color: var(--cor2);
    font-weight: 700;
}

#login {
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 50px;
}

#login>a {
    color: white;
    background-color: var(--cor1);
    padding: 20px 70px;
    text-decoration: none;
    border-radius: 20px;
    font-family: var(--tex2);
    font-size: 1.5em;
    transition: .5s;
}

#login>a:hover {
    background-color: var(--cor2);
    border-radius: 40px;
    font-weight: bold;
}

main {
    width: 100%;
}

.desenho {
    width: 60%;
    height: 500px;
    margin: auto;
    background-image: url(../img/logo-eco2.jpg);
    background-repeat: no-repeat;
    /* border: 1px solid black; */
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
}

.desenho>p {
    text-align: center;
    font-size: 1.3em;
    background-color: var(--cor1);
    color: white;
    display: none;
    padding: 15px;
    font-family: var(--tex2);
}

.desenho:hover>p {
    display: block;
}

.SaBon {
    width: 90%;
    margin: auto;
    display: flex;
    border: 5px solid var(--cor2);
    margin-top: 50px;
    margin-bottom: 50px;
}

.img {
    width: 25%;
    height: auto;
    display: inline;
}

img {
    height: 100%;
    width: 100%;
}

.text {
    width: 75%;
    margin: auto;
}

.text>p {
    font-size: 1.2em;
    padding: 20px;
    text-indent: 20px;
}

strong {
    color: var(--cor2);
}

footer {
    background-image: linear-gradient(90deg, var(--cor3), var(--cor5));
    border-top: 3px solid black;
}

footer>p {
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
    font-weight: bold;
}